.benefits .row {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.benefits .item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 12px #0002;
  width: 100%;
  background-color: rgb(75, 72, 72);
  word-break: break-word;
  box-shadow: 1px 1px 5px rgb(88, 84, 84);
}

.benefits .item:hover {
  box-shadow: 1px 1px 11px gray;
}

.benefits .item > .icon {
  height: 60px;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.benefits .item > .title {
  font-size: 24px;
  color: white;
}

.benefits .item > .description {
  font-size: 17px;
  line-height: 25px;
  color: white;
  word-break: break-word;
}

@media (min-width: 767px) {
  .benefits .row {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 991px) {
  .benefits .row {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* 
.benefits img {
  width: 65px;
}

.benefits > div div {
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
} */
