.footer .row {
  text-align: center;
}

.footer .row h2 {
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.footer .row .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer > .row .item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
