/* basic */
@import './basic/reset.css';
@import './basic/layout.css';

/* 3rd-party */
/* components */

/* custom */

/* header start */
header {
  background-color: red;
  height: 80px;
}
.header .logo {
  width: 200px;
  height: 80px;
  display: inline-block;
  object-fit: cover;
  margin-left: 30px;
}

.header nav {
  background-color: rgb(255, 230, 0);
  text-align: right;
  display: inline-block;
  float: right;
  margin-top: 30px;
}

.header nav a {
  font-size: 25px;
  margin-right: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header .taggleHeader {
  display: inline-block;
  display: none;
  margin-right: 20px;
  cursor: pointer;
}

.header .taggleHeader span {
  background: black;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  display: block;
}

@media (max-width: 1050px) {
  .header nav a {
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  .header nav a {
    display: none;
  }

  .header .taggleHeader {
    display: inline-block;
    display: inline-block;
  }
}

/* header end */

/* info start */
.infoContainer {
  background-color: rgb(121, 44, 44);
}

.infoContainer .leftColume {
}

.infoContainer .rightColume {
}
/* info end */

/* carousel start */
.carousel {
  background-color: rgb(0, 255, 128);
}
/* carousel end */

/* header start */
.benefits {
  background-color: rgb(76, 0, 255);
}
/* header end */

/*work start */
.workProces {
  background-color: rgb(179, 255, 0);
}
/*work  end */

/* footer start */
.footer {
  background-color: rgb(0, 225, 255);
}
/* footer end */
