/* basic */
@import './basic/reset.css';
@import './basic/layout.css';

/* 3rd-party */
/* components */
@import './component/benefint.css';
@import './component/footer.css';
@import './component/workProces.css';
@import './component/carusel.css';
@import './component/header.css';
/* custom */

body {
  background: rgb(93, 85, 85);
  background: linear-gradient(
    0deg,
    rgba(93, 85, 85, 1) 23%,
    rgba(35, 33, 46, 1) 70%
  );
  scroll-behavior: smooth;
}

/* header start */
/* header end */

/* info start */
.infoContainer {
  word-break: break-word;
}

.infoContainer .leftColume {
  margin-bottom: 30px;
}

.infoContainer .leftColume span {
  font-size: larger;
  font-weight: 700;
  font-size: 25px;
  color: beige;
  word-break: break-word;
}

.infoContainer p {
  font-size: 19px;
  color: beige;
  word-break: break-word;
}

.infoContainer .rightColume p {
  font-size: 25px;
  color: beige;
  word-break: break-word;
}

.infoContainer .rightColume i {
  font-size: 25px;
  color: beige;
  word-break: break-word;
}
/* info end */

/* carousel start */

/* carousel end */

/* header start */

/* header end */

/*work start */

/*work  end */

/* footer start */

/* footer end */
